 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TAPS &nbsp;   &nbsp;   &nbsp; </a> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='sspu.png') }}" alt="Bootstrap" width="60" height="60">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="#" tabindex="-1" aria-disabled="true">TAPS</a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
          <a class="nav-link" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="{{ url_for('logout') }}">Logout {{username}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Themes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="#">Light</a>
            <a class="dropdown-item" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="#">Dark</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: crimson;" onmouseover="this.style.color='pink'" onmouseout="this.style.color='crimson'" href="#">Funky</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button type="submit" class="btn btn-outline-danger">Search</button>
      </form>
    </div>
  </nav>